<header
    class="flex bg-white p-6 mx-auto fixed top-0 left-0 right-0 z-50 justify-between shadow-md text-black/65"
>
    <!--   REMPLAZAR POR LOGO -->
    <a href="/">
        <img src="/Logos/cropped-Recurso-1.png" width="152px" />
    </a>
    <nav class="flex items-center">
        <a
            class="m-2 p-2 rounded-lg hover:bg-slate-200/65 transition-all"
            href="#AreaNegocio">Area de Negocio</a
        >
        <a
            class="m-2 p-2 rounded-lg hover:bg-slate-200/65 transition-all"
            href="/">Segmentos</a
        >
        <a
            class="m-2 p-2 rounded-lg hover:bg-slate-200/65 transition-all"
            href="/">Catálogo</a
        >
        <a
            class="m-2 p-2 rounded-lg hover:bg-slate-200/65 transition-all"
            href="/">Contacto</a
        >
    </nav>
</header>
